- id: '1713265076593'
  alias: Kitchen light automation
  description: ''
  use_blueprint:
    path: EPMatt/ikea_e2001_e2002.yaml
    input:
      integration: Zigbee2MQTT
      controller_entity: sensor.ikea_kitchen_switch_action
      helper_last_controller_event: input_text.ikea_kitchen_light_switch_automation_helper_1
      action_button_right_long:
      - data:
          led: light.kitchen_counter_led
          step: 1000
        action: script.light_increase_color_temp
      - delay:
          milliseconds: 500
      action_button_left_long:
      - data:
          led: light.kitchen_counter_led
          step: 1000
        action: script.light_decrease_color_temp
      - delay:
          milliseconds: 500
      action_button_up_long:
      - data:
          led: light.kitchen_counter_led
          step: 20
        action: script.light_increase_brightness
      - delay:
          milliseconds: 500
      action_button_down_long:
      - data:
          led: light.kitchen_counter_led
          step: 20
        action: script.light_decrease_brightness
      - delay:
          milliseconds: 500
      button_left_long_loop: true
      button_right_long_loop: true
      button_up_long_loop: true
      button_down_long_loop: true
      button_right_long_max_loop_repeats: 100
      button_up_long_max_loop_repeats: 100
      button_left_long_max_loop_repeats: 100
      button_down_long_max_loop_repeats: 100
      action_button_left_short:
      - data:
          led: light.kitchen_counter_led
          step: 2000
        action: script.light_decrease_color_temp
      action_button_right_short:
      - data:
          led: light.kitchen_counter_led
          step: 2000
        action: script.light_increase_color_temp
      action_button_up_short:
      - data:
          stop_actions: true
        target:
          entity_id: automation.kitchen_worktop_switch_light_on_motion
        action: automation.turn_off
      - data:
          led: light.kitchen_counter_led
          step: 20
        action: script.light_increase_brightness
      action_button_down_short:
      - target:
          entity_id: automation.kitchen_worktop_switch_light_on_motion
        action: automation.turn_on
        data: {}
      - target:
          entity_id: light.kitchen_counter_led
        action: light.turn_off
        data: {}
      controller_device: 2b577d1280f7728483f684a0158cb296